<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Plugin" type="#org.jetbrains.idea.devkit.run.PluginConfigurationType" factoryName="Consulo In Sandbox" singleton="true">
    <option name="VM_PARAMETERS" value="-Xms2G -Xmx2G -XX:MaxPermSize=1G -XX:ReservedCodeCacheSize=64m -XX:+UseCodeCacheFlushing -ea -XX:+HeapDumpOnOutOfMemoryError" />
    <option name="PROGRAM_PARAMETERS" value="" />
    <java-sdk name="1.6" />
    <consulo-sdk name="Consulo 1.SNAPSHOT" />
    <artifact name="plugin" />
    <predefined_log_file id="IDEA_LOG" enabled="true" />
    <RunnerSettings RunnerId="Debug">
      <option name="DEBUG_PORT" value="" />
      <option name="TRANSPORT" value="0" />
      <option name="LOCAL" value="true" />
    </RunnerSettings>
    <RunnerSettings RunnerId="Debug">
      <option name="DEBUG_PORT" value="" />
      <option name="TRANSPORT" value="0" />
      <option name="LOCAL" value="true" />
    </RunnerSettings>
    <ConfigurationWrapper RunnerId="Debug" />
    <ConfigurationWrapper RunnerId="Debug" />
    <method>
      <option name="BuildArtifacts" enabled="true">
        <artifact name="plugin" />
      </option>
    </method>
  </configuration>
</component>